<h1>Bilder av {{ innslag.getNavn() }}</h1>


<ol class="list-group" style="width: 90%">
    {% for bilde in bilder %}
        <li class="list-group-item">   
            <img src="{{ bilde.baseurl ~ bilde.sizes.lite.file }}" width="250" class="float-left" style="margin: 1em;" />
            <a href="?page={{ GET('page') }}&action=delete&innslagId={{ GET('innslagId') }}&bilde={{ bilde.id }}" class="btn btn-danger btn-sm">slett</a>
            <div class="clearfix"></div>
        </li>
    {% else %}
        <li class="list-group-item text-danger">Beklager, fant ingen bilder</li>
    {% endfor %}
</ol>