<table class="table table-striped" style="width: Calc( 100% - 3em); margin-left: 2em; margin-right: 1em; margin-top:1em;">
	{% set kunstBilde = false %}
	{% for bilde in innslag.getBilder().getAll() %}
		{% if arrangement.erKunstgalleri() %}
			{% set erPaaKunstgalleri = false %}
			{% if innslag.getType().getKey() == 'utstilling' %}
				{% for utstilling in innslag.getTitler().getAll() %}
					{% if utstilling.getBildeId() == bilde.getId() %}
						{% set erPaaKunstgalleri = true %}
						{% set kunstBilde = true %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
		
		{% if (not arrangement.erKunstgalleri()) or (arrangement.erKunstgalleri() and erPaaKunstgalleri) %}
			<tr class="listImageEditor" data-bilde-id="{{bilde.getId()}}" data-innslag-id="{{innslag.getId()}}" id="bilde-{{innslag.getId()}}-{{bilde.getId()}}">
				<td width="250">
					<img height="150" src="{{ bilde.getSize('medium').getUrl() }}"/>
				</td>
				<td>
					<div>
						{% if arrangement.erKunstgalleri() == false %}
							<a href="#" class="endreInnslag btn btn-ukm btn-xs">flytt til annet innslag</a>
							<a href="#" class="endreFotograf btn btn-ukm btn-xs">endre fotograf</a>
						{% endif %}
						{# {% if bilde.getBlogId() == blog_id %} #}
							<a href="#" class="slettBilde btn btn-ukm btn-xs btn-danger">slett</a>
						{# {% endif %} #}

						
						
					</div>
					<div class="form-group endreInnslagFelt" style="display:none;">
						<label for="bytt-innslag-{{ bilde.getId() }}">Innslag</label>
						<select class="form-control" id="bytt-innslag-{{ bilde.getId() }}" name="byttInnslag">
							{% for inn in arrangement.getInnslag().getAll() %}
								<option value="{{ inn.getId() }}" {{ innslag.getId() == inn.getId() ? 'selected' : '' }}>{{ inn.getNavn() }}
									({{ inn.getType() }})</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group endreFotografFelt" style="display:none;">
						<label for="bytt-fotograf-{{ bilde.getId() }}">Fotograf</label>
						<select class="form-control" id="bytt-fotograf-{{ bilde.getId() }}" name="byttFotograf">
							{% for bruker in brukere %}
								<option value="{{ bruker.ID }}" {{ bruker.ID == bilde.getAuthorId() ? 'selected' : '' }}>{{ bruker.display_name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group lagreBildeInfo" style="display:none;">
						<button class="btn btn-success btn-ukm btn-xs submitChanges">Lagre</button>
						eller 
						<a href="#" class="avbrytLagreBildeInfo">avbryt</a>
					</div>
				</td>
			</tr>
		{% endif %}
	{% else %}
		<tr>
			<th>
				{{ innslag.getNavn() }}
				har ingen bilder.
			</th>
		</tr>
	{% endfor %}

	{% if arrangement.erKunstgalleri() and not kunstBilde %}
		<tr>
			<th>
				{{ innslag.getNavn() }}
				har ingen kunstverk.
			</th>
		</tr>
	{% endif %}
	
</table>
