<style>
	.mt-3 {
		margin-top: 1.25em;
	}
</style>
<div class="container-fluid">
	<div class="row mb-5">
		<div class="col-12 col-sm-12">
			<h2>Bilder av innslag</h2>
            {% include "wp_modul.flashbag.html.twig" %}
			<p>
				Her kan du laste opp bilder fra forestillinger og andre hendelser på din mønstring.
				<br/>
				Artikkelbilder som skal brukes i innlegg lastes opp der du skriver
				<a href="edit.php">innlegget</a>
				(bruk knappen "legg til media").
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-8 col-lg-9" id="tagWindow">
			<h3 class="mt-2">Merk bilder</h3>
			<div class="card" style="display: none;" id="noneToTag">
				<div class="card-body">
					<p class="mt-3 mb-0">
						Du har ingen opplastede bilder som skal merkes. 🥳 
						                    Slipp bildene i det grønne feltet til høyre.
					</p>
				</div>
			</div>
			<div style="background: #fff;" id="tagger">
				<div class="row">
					<div class="col-xs-1">
						<button class="btn btn-ukm btn-xs margin-left-15" id="prevImage">&lt;</button>
					</div>
					<div class="col-xs-10" style="
    padding-top: 20px;
    padding-bottom: 20px;
">
						<div class="row">
							<div class="col-xs-6">
								<div id="status">
									<span id="current">1</span>
									av
									<span id="tagQueueCount">xx</span>
								</div>
							</div>
							<div class="col-xs-6">
								<span class="dashicons dashicons-trash"></span>
							</div>
						</div>
						<img style="height: 40vh; max-width:100%;" id="tagWindowImage" src="//placehold.it/800x300/?text=Ingen%20bilder%20i%20k%C3%B8" />

						<div class="clearfix"></div>

						<div class="row">
							<div class="col-xs-6 mb-5">
								<label>Velg hendelse</label>
								<select id="hendelseSelector">
									<option value="0" selected disabled>Velg hendelse</option>
									{% for hendelse in arrangement.getProgram().getAbsoluteAll() %}
										<option value="{{ hendelse.getId() }}">{{ hendelse.getNavn() }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-xs-6" align="right">
								<label>
									Velg fotograf
								</label>
								<select id="fotografSelector">
									<option value="0" selected disabled>Velg fotograf</option>
									{% for fotograf in brukere %}
										<option value="{{ fotograf.ID }}">{{ fotograf.display_name }}</option>
									{% else %}
										<option value="0">Fant ingen fotografer</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="row" id="tagWindowInnslagListe"></div>

						<div class="row">

							<div class="col-xs-12 mt-3" align="right">
								<button class="btn btn-ukm" id="doTag">Lagre</button>
							</div>
						</div>
					</div>
					<div class="col-xs-1 ">
						<button class="btn btn-ukm btn-xs margin-right-15" id="nextImage">&gt;</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4 col-lg-3">
        <h3 class="mt-2">Last opp bilder</h3>
			<div class="card alert-success" style="min-height: 8em;" id="bildeOpplaster">
				<h4>Slipp bildene her </h4>
                <p>Eller trykk i feltet</p>
				<div class="fallback">
					<input name="file" type="file" multiple/>
				</div>
			</div>

			<div class="mt-3">
				<a class="btn btn-ukm" href="?page={{GET('page')}}&action=list" class="btn btn-block btn-primary">
					Endre allerede merkede bilder
				</a>
			</div>

			<div class="mt-3" id="convertQueue">
				<b>Konverteringskø</b>
				<ol class="list-group">
					{% for image in nonConvertedImages %}

						<li class="list-group-item" data-image-id="{{ image.id }}">{{ image.originalFilename }}</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
</div>
{% block extra_javascripts %}
	<script>
		var nonTaggedImages = {{ nonTaggedImagesJson|raw }};
	</script>
{% endblock %}
