
<h2>Alle innslag</h2>
<ol class="list-group">
	{% for innslag in arrangement.getInnslag().getAll() %}
		<li class="list-group-item">
			<div class="pull-right">
				<a href="#" class="visBilder btn btn-ukm btn-sm" data-innslag-id="{{ innslag.getId() }}">Vis bilder</a>
			</div>
			<a href="?page={{GET('page')}}&action={{GET('action')}}&innslag={{innslag.getId()}}" class="visBildeLink">{{innslag.getNavn()}}</a>
			<div class="clearfix"></div>
			<div class="bildeContainer" data-innslag-id="{{ innslag.getId() }}" style="display:none;">
				
			</div>
		</li>
	{% else %}
		<li class="list-group-item">
			Du har ingen påmeldte innslag.
		</li>
	{% endfor %}
</ol>
<p class="mt-2">
	<a href="?page={{GET('page')}}">Tilbake til bilder</a>
</p>

