<h1>Bilder av {{ innslag.getNavn() }}</h1>

{% if message is defined %}
    <div class="alert alert-{{message.success ? 'success':'danger'}} col-xs-12 col-md-10">
        {% if message.title is defined %}
        <strong>{{message.title}}</strong><br />
        {% endif %}
        {{message.body}}
    </div>
    <div class="clearfix"></div>
{% endif %}

<ol class="list-group" style="width: 90%">
    {% for bilde in bilder %}
        <li class="list-group-item">   
            <img src="{{ bilde.sizes.medium.path_external ~ bilde.sizes.medium.file }}" width="250" class="float-left" style="margin: 1em;" />
            <a href="?page={{ GET('page') }}&action=list&innslagId={{ GET('innslagId') }}&delete={{ bilde.id }}" class="btn btn-danger btn-sm">slett</a>
            {#<pre>{{ dump( bilde ) }}</pre>#}
            <div class="clearfix"></div>
        </li>
    {% else %}
        <li class="list-group-item text-danger">Beklager, fant ingen bilder</li>
    {% endfor %}
</ol>